<div>
<%= form_for @page do |f| %> 
  <div class="field"> 
    <%= f.label :page, "Add Word" %><br> 
    <%= f.text_field :word %><br> 
    <%= f.text_area :content %><br>
    <%= f.label :Learning %>
    <%= f.radio_button :knowledge, "Learning" %><br>
    <%= f.label :Learned %>
    <%= f.radio_button :knowledge, "Learned" %><br>

  </div> 
  <div class="actions"> 
    <%= f.submit "Update" %> 
  </div> 
<% end %>
</div>
 <p><%= link_to "Home", pages_path %> </p>
