
<h1>Vocab Center</h1>

<div class="main_links">
  <%= link_to 'Add Word', new_page_path, class: "btn btn-success" %> 
  <% if !@page.blank? %>
      <%= link_to 'Practice', page_path(@page, first: true), class: "btn btn-primary" %> 
  <%end%>
</div>

<% if @pages_learning.any? %>
<div class= "learning">   <!-- different class from box-->
<h3>Learning</h3> 
<table class="table table-hover" id="sortable"> 
  <% @pages_learning.each do |page| %> 
    <tr data-page-id=<%= "#{page.id}" %> class="todo" >
        <td id="the_word">
            <%= page.word %>
        </td>
        <td id="the_def">
            <%= page.content%>
        </td>
        <td id="the_delete">
            <%=link_to "", page_path(page), method: :delete, class: "glyphicon glyphicon-trash"%>
        </td>
        <td id="the_edit">
          <p><%= link_to "", edit_page_path(page), class: "glyphicon glyphicon-pencil" %></p>
        </td>
    </tr>
  <%end%>
  </table>
</div>
<%end%>


<% if @pages_learned.any? %>
<div class= "learned">
<h3> Learned <span id="hide"> Hide </span> </h3> 
  <table class="table table-hover display_learned"> 
    <% @pages_learned.each do |page| %> 
      <tr>
          <td id="the_word">
              <%= page.word %>
          </td>
          <td id="the_def">
              <%= page.content%>
          </td>
          <td id="the_delete">
              <%=link_to "", page_path(page), method: :delete, class: "glyphicon glyphicon-trash"%>
          </td>
          <td id="the_edit">
            <p><%= link_to "", edit_page_path(page), class: "glyphicon glyphicon-pencil" %></p>
          </td>
      </tr>
    <%end%>
  </table>
</div>
<%end%>





