<div>
<%= form_for(@page) do |f| %> 
  <div class="field"> 
    <%= f.label :page %><br> 
    <%= f.text_area :word %><br> 
    <%= f.text_area :content %>

  </div> 
  <div class="actions"> 
    <%= f.submit "Create" %> 
  </div> 
<% end %>
</div>