
<div class = "row">
<div class = "col-sm-4 col-sm-offset-4 body">
<% if @page%>
<div class="show_page">
 <p id="show_page_word"> <%= @page.word %></p>
 <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">  
  Show Definition
</button>
<div id="demo" class="collapse">
  <div class="well"> <%= @page.content %>
  </div>
</div>
 <%= form_for @page, remote: true do |f| %> 
   <div class="form-inline practice">
    <%= f.label :Learning, class:"radio-inline"%>
    <%= f.radio_button :knowledge, "Learning" %>
    <%= f.label :Learned, class:"radio-inline"%>
    <%= f.radio_button :knowledge, "Learned" %><br>
    </div>
    <div class="actions">
    <%= f.submit "Update", class: "btn btn-default" %>
    </div>
 <%end%>


 
 <p class = "home_links">
  <%= link_to "Next", page_path(@page)%> |
  <%= link_to "Home", pages_path %> 
 </p>
 

 <% else %>

 <div class="btn-group btn-group-lg">
    <%= link_to "Home", pages_path, class: "btn btn-default"%>
    <%= link_to 'Practice Again', page_path(@practice_again, first: true), class: "btn btn-default" %> 
 </div>
 
 </div>
<%end%>
</div>
</div>
