<div>


<% if @page%>
 <p> <%= @page.word %></p>
 <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">  
  Show Definition
</button>
<div id="demo" class="collapse">
  <div class="well"> <%= @page.content %>
  </div>
 </div>
 <%= form_for @page do |f| %> 
  <div> 
    <%= f.label :Learning %>
    <%= f.radio_button :knowledge, "Learning" %><br>
    <%= f.label :Learned %>
    <%= f.radio_button :knowledge, "Learned" %><br>
    <%= f.submit "Update" %>
 </div> 
  <%end%>
 
 <p><%= link_to "Next", page_path(@page) %></p>

 <% else %>

 <p> Good Job!</p>
 <p><%= link_to "Home", pages_path %> </p>
<%end%>


</div>
