
<div class = "row">
<div class = "col-sm-4 col-sm-offset-4 body">
<% if @page%>
<div class="show_page">
 <p id="show_page_word"> <%= @page.word %></p>
 <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">  
  Show Definition
</button>
<div id="demo" class="collapse">
  <div class="well"> <%= @page.content %>
  </div>
</div>
 <%= form_for @page, remote: true do |f| %> 
    <%= f.label :Learning %>
    <%= f.radio_button :knowledge, "Learning" %><br>
    <%= f.label :Learned %>
    <%= f.radio_button :knowledge, "Learned" %><br>
    <%= f.submit "Update" %>

 <%end%>

 
 <p>
  <%= link_to "Next", page_path(@page) %>
  <%= link_to "Home", pages_path %> 
 </p>
 

 <% else %>

 <p> Good Job!</p>
 <p><%= link_to "Home", pages_path %> </p>
 </div>
<%end%>
</div>
</div>
